<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
	<script src="../static/js/echarts.min.js" ></script>
	<script src="../static/js/jquery-3.6.0.min.js" ></script>

</head>
<body>
	<div id="title"><h1 align="center">NBA球员分析</h1></div>
	<div id="time" align="center">时间</div>
	<div id="l1">左1</div>
	<div id="l2">左二</div>
	<div id="c1" align="center">副标题</div>
	<div id="c2">中2</div>
	<div id="r1">右1</div>
	<div id="r2">右2</div>
<script src="../static/js/echarts/pie_l1.js" ></script>
<script src="../static/js/echarts/scatter_l2.js" ></script>
<script src="../static/js/echarts/bar_r1.js" ></script>
<script src="../static/js/echarts/cross_c2.js" ></script>
<script src="../static/js/echarts/area_r2.js" ></script>
<script src="../static/js/echarts/controller.js" ></script>

</body>
</html>